/Laboratorio-2/lab2/nbproject/private/
/Laboratorio-2/lab2/build/
/Laboratorio-2/02/nbproject/private/
/Laboratorio-2/02/build/
/Laboratorio-2/03/nbproject/private/
/Laboratorio-2/03/build/
/Laboratorio-2/04/nbproject/private/
/Laboratorio-2/04/build/
